@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	box-sizing: border-box;
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);

  --dotSize: 0.07rem;
  --dotDensity: 0.5rem;
  
  --highlightFocus: 5rem;
  --highlightSize: 20rem;

  --pointerThickness: 1px;
  --pointerSize: 32px;
}

body {
	--dot-bg: rgb(10, 10, 10);
	--dot-color: white;
	--dot-size: 0.07rem;
	--dot-space: 1.5rem;

	color: rgb(var(--foreground-rgb));
	background:
		  linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		  linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		  var(--dot-color);
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#wrapper{
	--dot-bg: black;
	--dot-color: white;
	--dot-size: 0.07rem;
	--dot-space: 1.5rem;
}

#cursor {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	
	pointer-events: none;
	touch-action: none;
	user-select: none;
	
	top: var(--cursorY, 0);
	left: var(--cursorX, 0);
}
#cursor::before {
	content: '';
	position: absolute;
	
	width: var(--pointerSize);
	height: var(--pointerSize);
	
	background:
		linear-gradient(
			#0000 calc(50% - var(--pointerThickness) / 2),
			#fff calc(50% - var(--pointerThickness) / 2),
			#fff calc(50% + var(--pointerThickness) / 2),
			#0000 calc(50% + var(--pointerThickness) / 2)
		) no-repeat,
		linear-gradient(
			90deg,
			#0000 calc(50% - var(--pointerThickness) / 2),
			#fff calc(50% - var(--pointerThickness) / 2),
			#fff calc(50% + var(--pointerThickness) / 2),
			#0000 calc(50% + var(--pointerThickness) / 2)
		) no-repeat;
}
#cursor::after{
	content: "";
	position: absolute;	

	width: 120px;
	height: 120px;
	background: white;
	border-radius: 100%;
	z-index: -2;
	filter: blur(80px);
}
#cursor.pointer::after {
	content: '';
	position: absolute;

	width: calc(var(--pointerSize) * 0.2);
	height: calc(var(--pointerSize) * 0.2);

	background-color: #fff!important;
	border: 1px solid #000;
}
.card {
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 2500px;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
    background: black;
}

.wrapper {
	max-width: 500px;
	transition: all 0.5s;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.content{
	position: absolute;
	text-align: center;
	line-height: 1.8;
	opacity: 0;
	transition: all 0.5s;
	background-color: black;
}

.card:hover .wrapper {
	transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
	box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
	content: "";
	opacity: 0;
	width: 100%;
	height: 80px;
	transition: all 0.5s;
	position: absolute;
	left: 0;
}
.wrapper::before {
	top: 0;
	height: 100%;
	background-image: linear-gradient(
		to top,
		transparent 46%,
		rgba(12, 13, 19, 0.5) 68%,
		rgba(12, 13, 19) 97%
	);
}
.wrapper::after {
	bottom: 0;
    height: 100%;
	opacity: 1;
	background-color: black;
}

.card:hover .wrapper::before,
.wrapper::after {
	opacity: 1;
}

.card:hover .wrapper::after {
	height: 0 ;
}
.title {
	transition: transform 0.5s;
	min-width: 120px;
}
.card:hover .title {
	transform: translate3d(0%, -50px, 100px);
}

.content {
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
	position: absolute;
}

.card:hover .content {
	opacity: 1;
	transform: translate3d(0%, 65%, 100px);
}


